.hidden {
  display: none;
}

body {
  background-color: antiquewhite;
  font-size: 16px;
  font-family: monospace;
}

#mixerContainer {
  background-color: lightcyan;
  border: 5px solid black;
  height: 550px;

  margin-left: 200px;

  position: absolute;

  width: 800px;
}

#instructionsContainer {
  display: inline-block;
  position: relative;
  float: right;
  width: 290px;
}

#dropHeader {
  margin-left: 30px;
}

#dropSection {
  display: inline-block;
  position: relative;
  float: left;
  width: 100px;

  background-color: azure;
  border: 3px solid black;
  height: 510px;

  margin-left: 50px;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: thin dashed black;

  width: 100px;
  height: 100px;

  background-color: azure;
}

#iconContainer {
  background-color: azure;
  border: 3px solid black;
  height: 100px;

  margin-left: 150px;
  margin-bottom: 40px;

  width: 900px;
}

#iconContainer img {
  width: 100px;
}
